$cardFront: #ff9800;
$cardBack: #ffc107;
$cardBorder: #ff5722;
$btnColor: #bdc3c7;
$btnShadow: grey;
$iconColor: #f44336;

*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Comic Sans", "Comic Sans MS", cursive;
  background-color: #eee;
}
