@import "base";

%card-side {
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  font-weight: 600;
}

.title {
  margin-top: 2rem;
  text-align: center;
  font-size: 3rem;
}

.container {
  margin: 2rem auto;
  width: 50rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);

  &--btn {
    display: flex;
    justify-content: center;
  }

  @media only screen and (max-width: 35em) {
    grid-gap: 0.75rem;
    width: 45rem;
  }

  @media only screen and (max-width: 30em) {
    width: 35rem;
  }
}

.card {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  width: 9rem;
  border: 0.5rem solid $cardBorder;
  margin: 0 auto;
  position: relative;
  transition: transform 2s ease;
  perspective: 60rem;
  transform-style: preserve-3d;
  border-radius: 5px;

  &-front {
    @extend %card-side;
    // ** need position relative to set z-index **
    position: relative;
    z-index: 1;
    background-color: $cardFront;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-back {
    @extend %card-side;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    background-color: $cardBack;
    font-size: 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media only screen and (max-width: 35em) {
    height: 11rem;
    width: 8rem;
  }
  @media only screen and (max-width: 30em) {
    height: 9rem;
    width: 6rem;
  }
}

.btn {
  // display: none;
  font-weight: bolder;
  margin: 0 auto;
  border: none;
  padding: 1.5rem;
  border-radius: 0.8rem;
  background-color: $btnColor;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 0.3rem 0.2rem $btnShadow;

  &:active {
    transform: translateY(0.1rem);
    box-shadow: none;
  }
}

.rotate-js {
  transform: rotateY(180deg);
}

// Icon colors

.fa-html5 {
  color: orangered;
}

.fa-css3 {
  color: blue;
}

.fa-js {
  color: yellow;
}

.fa-sass {
  color: hotpink;
}

.fa-git {
  color: black;
}

.fa-react {
  color: lightseagreen;
}

.fa-vuejs {
  color: green;
}

.fa-angular {
  color: red;
}

.fa-node-js {
  color: lime;
}

.fa-npm {
  color: crimson;
}
