.fa-html5 {
  color: darken(orangered, 8%);
}

.fa-css3 {
  color: blue;
}

.fa-js {
  color: darken(yellow, 20%);
}

.fa-sass {
  color: hotpink;
}

.fa-git {
  color: black;
}

.fa-react {
  color: lightseagreen;
}

.fa-vuejs {
  color: green;
}

.fa-angular {
  color: darken(red, 5%);
}

.fa-node-js {
  color: darken(lime, 10%);
}

.fa-npm {
  color: lighten(crimson, 12%);
}
