*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-weight: 600;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Comic Sans", "Comic Sans MS", cursive;
  background-color: #eee;
}

.title {
  margin-top: 2rem;
  text-align: center;
  font-size: 3rem;
}

.container {
  margin: 2rem auto;
  width: 50rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
}

.container--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 35em) {
  .container {
    grid-gap: 0.75rem;
    width: 45rem;
  }
}

@media screen and (max-width: 30em) {
  .container {
    width: 36rem;
  }
}

.card {
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12rem;
  width: 9rem;
  border: 0.5rem solid #ff5722;
  margin: 0 auto;
  position: relative;
  -webkit-transition: -webkit-transform 2s ease;
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
  -webkit-perspective: 60rem;
          perspective: 60rem;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 5px;
}

.card-front {
  position: relative;
  z-index: 1;
  background-color: #ff9800;
}

.card-back {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #ffc107;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 35em) {
  .card {
    height: 11rem;
    width: 8rem;
  }
}

@media screen and (max-width: 30em) {
  .card {
    height: 10rem;
    width: 6.5rem;
  }
}

.btn {
  font-weight: bolder;
  margin: 0 auto;
  border: none;
  padding: 1.5rem;
  border-radius: 0.8rem;
  background-color: #bdc3c7;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0 0.3rem 0.2rem grey;
          box-shadow: 0 0.3rem 0.2rem grey;
}

.btn:active {
  -webkit-transform: translateY(0.1rem);
          transform: translateY(0.1rem);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.rotate-js {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
/*# sourceMappingURL=style.css.map */